@inherits AbstractClickableBaseSlot

@inject IModalService ModalService

@{
    <div class="btn btn-dark h-100 w-100 d-flex align-items-center justify-content-center" @onclick="this.InternalOnClick">
        @{
            if (this.Game.TryGetSlot(this.Data, out Slot slot))
            {
                if (this.IsInBuildMode &&
                    this.CanBuild)
                {
                    <div>@slot.Category (buildable)</div>
                }
                else
                {
                    <div>@slot.Category</div>
                }
            }
            else
            {
                <div>SLOT NOT FOUND</div>
            }
        }
    </div>
}

@code {
    [CascadingParameter] public EmptySlotData Data { get; set; }

    private bool CanBuild => this.Game.CanBuildAny(this.Data);

    private Slot GetSlot()
    {
        this.Game.TryGetSlot(this.Data, out Slot slot);
        return slot;
    }

    private async Task InternalOnClick(MouseEventArgs e)
    {
        if (this.IsInBuildMode)
        {
            var parameters = new ModalParameters();
            parameters.Add("Game", this.Game);
            parameters.Add("Data", this.Data);
            var options = new ModalOptions()
            {
                Position = "blazored-modal-center",
            };
            this.ModalService.Show<BuildBaseSlotModal>("", parameters, options);
        }

        await this.OnClick.InvokeAsync(this.Data);
    }
}
