@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@section Stylesheets {
    <link rel="stylesheet" href="~/css/base.css" />
}

<div class="base">
    <div>
        @foreach (var slot in Model.Layout.Slots.Values)
        {
            string widthClass = $"width{slot.Size.Col}";
            string heightClass = $"height{slot.Size.Row}";

            string leftPixels = $"{Model.OneUnitSize * slot.Offset.Col}px";
            string topPixels = $"{Model.OneUnitSize * Math.Abs(slot.Offset.Row + slot.Size.Row - Model.MaxLayoutHeight)}px";

            <div class="slot @widthClass @heightClass" style="left: @leftPixels; top: @topPixels">
                <button class="btn btn-dark room">@slot.Category</button>
            </div>
        }
    </div>
</div>
