@{
    var textClass = (this.AvailableCount < this.NeededCount) ? "text-danger" : "";

    <td>
        <div class="row">
            <div class="col">
                @this.Name
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span class="@textClass">@this.AvailableCount</span><span>/</span><span>@this.NeededCount</span>
            </div>
        </div>
    </td>
}

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public long AvailableCount { get; set; }
    [Parameter] public long NeededCount { get; set; }
}