@{
    var tableClass = this.IsDark ? "table table-dark" : "table";

    <table class="@tableClass table-borderless bg-transparent @this.StyleClasses">
        <tbody>
            @foreach (var (header, value) in this.Entries)
            {
                <tr>
                    <th scope="row">@header</th>
                    <td class="text-right">@value</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Parameter] public IEnumerable<(MarkupString header, MarkupString value)> Entries { get; set; }
    [Parameter] public string StyleClasses { get; set; }
    [Parameter] public bool IsDark { get; set; }
}
