@{
    <td>
        <div class="row">
            <div class="col">
                @this.Name
            </div>
        </div>
        <div class="row">
            <div class="col">
                <span>@this.RefundCount</span>
            </div>
        </div>
    </td>
}

@code {
    [Parameter] public string Name { get; set; }
    [Parameter] public int RefundCount { get; set; }
}