@{
    var cleanCosts = this.Game.GetCleanCosts(this.Slot);

    <CascadingValue Value="@cleanCosts">
        <div class="row">
            <div class="col">
                Consume the following materials to clean the room?
            </div>
        </div>
        <div class="row">
            <div class="col">
                <RoomCostsTable EmptyText="No cost. Cleaning is free." />
            </div>
        </div>
    </CascadingValue>
}

@code {
    [CascadingParameter] public Game Game { get; set; }
    [CascadingParameter] public Slot Slot { get; set; }
}
