@inject IModalService ModalService

<div class="container-fluid d-flex flex-column">
    <CascadingValue Value="@this.Game">
        @{
            if (this.Game.TryGetSlot(this.Data, out Slot slot))
            {
                <CascadingValue Value="@slot">
                    @if (this.Game.CanUnlock(slot))
                    {
                        <CascadingValue Value="@this.Game.GetPossibleBuildRooms(slot).First()">
                            <div class="row">
                                <div class="col divider-right">
                                    <RoomBuildChange />
                                </div>
                                <div class="col">
                                    <RoomBuildCost />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col btn btn-dark m-1" @onclick="Cancel">
                                    ❌ Cancel
                                </div>
                                <div class="col btn btn-dark m-1" @onclick="Confirm">
                                    ✔ Confirm
                                </div>
                            </div>
                        </CascadingValue>
                    }
                    else if (this.Game.DoesMeetUnlockRequirements(slot))
                    {
                        <div class="row">
                            <div class="col">The slot is not connected to the control center. Unable to clean.</div>
                        </div>
                        <div class="row">
                            <div class="col btn btn-dark" @onclick="Cancel">
                                ✔ OK
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row">
                            <div class="col">
                                <RoomRequirements Title="No signal detected on this floor. Unable to clean." />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col btn btn-dark" @onclick="Cancel">
                                ✔ OK
                            </div>
                        </div>
                    }
                </CascadingValue>
            }
            else
            {
                <div>Can't find slot data</div>
            }
        }
    </CascadingValue>
</div>

@code {
    [CascadingParameter]
    private ModalParameters Parameters { get; set; }

    public Game Game { get; set; }
    public LockedSlotData Data { get; set; }

    protected override void OnInitialized()
    {
        this.Game = this.Parameters.Get<Game>("Game");
        this.Data = this.Parameters.Get<LockedSlotData>("Data");
    }

    private void Confirm()
    {
        this.ModalService.Close(ModalResult.Ok<object>(null));
    }

    private void Cancel()
    {
        this.ModalService.Cancel();
    }
}
