<table class="table">
    <tbody>
        <tr>
            <th scope="row">Stationed Operators</th>
            <td>@this.Room.Phases[this.Game.LevelToPhase(this.Level)].MaxStationedNum</td>
            <th scope="row">Power Consumed</th>
            <td>@(-this.Room.Phases[this.Game.LevelToPhase(this.Level)].Electricity)</td>
        </tr>
    </tbody>
</table>

@code {
    [CascadingParameter] public Game Game { get; set; }
    [CascadingParameter] public Room Room { get; set; }
    [Parameter] public int Level { get; set; }
}
