<table class="table">
    <tbody>
        <tr>
            @{
                var power = this.Room.Phases[this.Game.LevelToPhase(this.Level)].Electricity;
                <th scope="row">Power</th>
                <td>@power</td>
                <th scope="row">Power Consumed</th>
                <td>0</td>
            }
        </tr>
    </tbody>
</table>

@code {
    [CascadingParameter] public Game Game { get; set; }
    [CascadingParameter] public Room Room { get; set; }
    [Parameter] public int Level { get; set; }
}
