.blazored-modal-right .blazored-modal-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 25%;
}

.blazored-modal-header {
    display: none;
}

.blazored-modal-content {
    height: 100%;
}